<div class="left-sidebar align-top pl-0 pr-0 collapse in show" id="sidebar">
  <div class="list-group panel">
    <nav class="navbar">
      <ul class="navbar-nav">
        <li class="nav-item">
          <%= link_to  trips_path , class: "nav-link list-group-item collapsed" do %>
            <!-- <a href="#" class="nav-link list-group-item collapsed" data-parent="#sidebar"> -->
              <%= image_tag "logo.png",class: "img-fluid" %>
            <!-- </a> -->
            <% end %>
        </li>
        <li class="nav-item active">
            <a href="#" class="nav-link list-group-item collapsed" data-parent="#sidebar">
                <i class="fa fa-instagram"></i>
            </a>
        </li>
        <li class="nav-item">
            <a href="#" class="list-group-item collapsed" data-parent="#sidebar"><i
                    class="fa fa-plus-square-o"></i>
                <span class="hidden-sm-down"></span></a>
        </li>
        <li class="nav-item">
            <a href="#" class="list-group-item collapsed" data-parent="#sidebar"><i
                    class="fa fa-calendar"></i>
                <span class="hidden-sm-down"></span></a>
        </li>
        <li class="nav-item">
            <a href="#" class="list-group-item collapsed" data-parent="#sidebar"><i
                    class="fa fa-th"></i>
                <span class="hidden-sm-down"></span></a>
        </li>
        <li class="nav-item">
            <a href="#" class="list-group-item collapsed" data-parent="#sidebar"><i
                    class="fa fa-bar-chart-o"></i>
                <span class="hidden-sm-down"></span></a>
        </li>
      </ul>
    </nav>
  </div>
</div>